<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Serveur fait maison</title>
    <link rel="stylesheet" href="/static/scoolbus.css">
    <meta charset="UTF-8">
    <title>Tableau de Quêtes</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Bienvenue seigneur !</h1>
    <img src="/static/Camionette_gold.jpg" alt=" My logo">
    <h2 style="text-align:center;">Tableau de Quêtes</h2>
    <table id="tableQuetes">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom de la quête</th>
                <th>Description</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
                <!-- Le contenu sera généré par JavaScript -->
            </tbody>
        </table>
                
        <script type="text/javascript" src="/static/scoolbus.mjs"></script>
    </body>
    </html>
    
